.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 92.14px);

  input {
    font-family: $font-primary;
    border: none;
    border-bottom: 3px solid;
    border-color: $color-dark;
    color: $color-dark;
    background-color: transparent;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
  }

  input:focus {
    outline: none;
  }

  button {
    // border: 1px solid;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: $color-primary;
    font-family: $font-primary;
    color: $color-secondary;
    border-color: $color-primary;
    cursor: pointer;
  }

  button:hover {
    background-color: $color-secondary;
    color: $color-primary;
  }
}
